{
   "$schema": "https://json.schemastore.org/swcrc",
   "jsc": {
      "parser": {
         "syntax": "typescript"
      },
      "minify": {
         "compress": {
            "pure_funcs": ["console.log"]
         }
      }
   },
   "module": {
      "type": "es6",
      "noInterop": false
   },
   "exclude": ["shims.d.ts"],
   "sourceMaps": true
}
