:root {
   --accent: mediumslateblue;
}

html,
body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   margin: 0;
   background-color: #151515;
   color: #d2d3d7;
}

::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
   background: none;
}

::-webkit-scrollbar-thumb {
   background-color: rgba(122, 122, 122, 0.2);
   transition: background-color 100ms;
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgba(122, 122, 122, 0.3);
}


.container-navbar {
   height: 40px;
   background-color: #1a1a1b;
}

.container-files {
   background-color: #151515;
   width: 250px;
   overflow: hidden;
}

.container-monaco {
}

.container-preview {
}

#preview {
   background-color: white;
}

button {
   border: none;
   box-shadow: 0 0 0 1px #151515;
   background-color: rgb(123, 104, 238);
   transition: background-color 100ms;
   color: #151515;
   font-weight: 600;
   padding: 3px 15px;
   border-radius: 3px;
   font-size: 0.9em;
}

button:hover {
   background-color: rgb(92, 74, 182);
}

button:active {
   background-color: rgb(74, 54, 139);
}

button.button-secondary {
   box-shadow: none;
   background-color: transparent;
   transition-duration: 100ms;
   transition-property: box-shadow, color;
   color: rgb(130, 130, 133);
}

button.button-secondary:hover {
   box-shadow: 0 0 0 1px var(--accent);
   color: var(--accent);
}

.icon-button {
   background: none !important;
   color: white;
   font-weight: bold;
   opacity: 0.5;
   transition: opacity 100ms;
}

.icon-button:hover {
   opacity: 1;
}

.drawer-file {
   padding: 0 5px;
}

.drawer-animated .drawer-file,
.drawer-animated .drawer-folder-head {
   transition-duration: 100ms !important;
}

.drawer-animated .drawer-indent-guide {
   transition-duration: 100ms !important;
}

.drawer-animated .drawer-folder-icon-chevron {
   transition-duration: 100ms !important;
}

.splash-screen {
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background-color: #151515;
}

.splash-screen.hidden {
   opacity: 0;
   transition: 300ms;
   pointer-events: none;
}

.container-preview-image {
   background-color: #1e1e1e;
}

.container-preview-image img {
   max-width: calc(100% - 20px);
   max-height: calc(100% - 20px);
   border-radius: 5px;
}

.container-preview-video {
   background-color: #1e1e1e;
}

.container-preview-video video {
   max-width: calc(100% - 20px);
   max-height: calc(100% - 20px);
   border-radius: 5px;
}